hex-color-picker {
	@apply w-full h-[246px] mt-6;
}

hex-color-picker::part(saturation) {
	@apply rounded-lg shadow-none;
}

hex-color-picker::part(hue) {
	@apply flex-[0_0_18px] rounded-full mt-4;
}

hex-color-picker::part(saturation-pointer) {
	@apply rounded-full size-5 z-5;
}

hex-color-picker::part(hue-pointer) {
	@apply size-4.5 rounded-full z-5;
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.37));
}
