@layer components {
	.list-with-choose-box {
		@apply grid grid-cols-2 gap-4 mb-5.5;
		li {
			@apply relative;
			label {
				@apply relative border border-gray-600 rounded-2xl py-7 flex items-center justify-center flex-col gap-3 cursor-pointer hover:bg-gray-200;
				.list-with-choose-box-span {
					@apply absolute top-3 right-3 size-5.5 rounded-full border-2 border-gray-600 text-white flex items-center justify-center;
				}
			}
			input {
				@apply hidden;
				&:checked + label {
					@apply border-blue-500 bg-blue-500/5;
					.list-with-choose-box-span {
						@apply bg-blue-500 border-blue-500;
					}
				}
			}
		}
	}
	.file-viewer-tab {
		@apply min-h-full flex flex-col;
	}
	.file-viewer-tab-header {
		@apply px-3 pt-4 mb-8 flex items-center gap-2;
	}
	.file-viewer-tab-content {
		@apply px-5;
	}
	.file-viewer-tab-footer {
		@apply px-5 py-4 sticky bottom-0 bg-white [.sidebar-has-scrollbar_&]:border-t [.sidebar-has-scrollbar_&]:shadow-dropdown border-gray-400 [.sidebar-has-scrollbar_&]:mt-4 z-10;
	}
	.file-viewer-lead-capture {
		@apply size-full absolute top-0 left-0 z-10 rounded-xl flex flex-col bg-dark-800/60 backdrop-blur-2xl items-center justify-center;
	}
	.file-viewer-lead-capture-title {
		@apply max-w-[28.5rem] w-full text-[2rem]/[2.75rem] font-semibold text-white text-center;
	}
	.file-viewer-lead-capture-description {
		@apply max-w-[24rem] w-full text-base/6 text-white text-center mt-3;
	}
	.file-viewer-lead-capture-form {
		@apply flex flex-col gap-2.5 max-w-[394px] mx-auto mt-7.5;
		input {
			@apply bg-white h-10 border-white focus-visible:border-blue-500 placeholder:text-gray-900;
		}
	}
	.file-viewer-lead-capture-skip-button {
		@apply text-white bg-dark-800/70 hover:bg-dark-800 absolute bottom-3 right-3 border-white/10 border gap-1 z-10;
	}
	.ai-actions-content {
		@apply pt-5 px-8 pb-7.5 overflow-y-auto;
		h3 {
			@apply text-lg font-semibold text-dark-800 mb-3;
			& + p {
				@apply mt-0;
			}
		}
		p {
			@apply text-sm mt-2;
		}
		strong {
			@apply text-sm font-semibold text-dark-800 mt-6 block;
		}
		ul {
			@apply list-disc pl-5 space-y-3 max-w-[30.25rem] w-full mt-3;
			li {
				@apply text-sm;
			}
		}
		a {
			@apply text-sm text-blue-500;
		}
	}
}
