@theme {
	/* Fonts */
	--font-*: initial;
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-sans-semi: GeneralSans-semibold, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-sans-variable: GeneralSans-Variable,
	--font-sans-medium: GeneralSans-medium, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	/* Container */
	--container-*: initial;
	--container-xl: 1200px;

	/* Screens */
	--breakpoint-xxl: 1360px;
	--breakpoint-md: 790px;
	--breakpoint-xs: 480px;

	/* Drop Shadows */
	--drop-shadow-3xl: drop-shadow(0px 0.876389px 7.01111px rgba(13, 34, 71, 0.08)) drop-shadow(0px -1.85479px 19.4753px rgba(0, 0, 0, 0.05));


	/* Box Shadows */
	--inset-shadow-3xl: inset 0px -0.876389px 0.876389px 0.876389px rgba(17, 34, 69, 0.12);
	--shadow-card: 0 2px 8px -1px #130c3e0a, 0 0 0 1px #130c3e1c, 0 4px 4px -5px #130c3e40;
	--shadow-violet: 0 1px 2px 0 rgba(31, 18, 69, 0.08), 0 0 0 1px rgba(58, 22, 202, 0.75), 0 2px 4.3px -1px rgba(58, 22, 202, 0.4);
	--shadow-card-use-cases: 0px 5px 30.9px -4px rgba(58, 68, 89, 0.27);
	--shadow-card-dark: 0px 1px 7px rgba(15, 28, 53, 0.04);
	--shadow-card-dark-contact: 0px 2.85px 18.335px 3.8px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1.02317px rgba(255, 255, 255, 0.04);
	--shadow-card-dark-menu: 0px 11.4701px 23.7768px -5.01619px rgba(255, 255, 255, 0.07), 0px 2px 7px -1px rgba(255, 255, 255, 0.04), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.12);
	--shadow-card-orange: 0px 4px 4px -5px rgba(30, 12, 4, 0.25), 0px 0px 0px 1px rgba(34, 14, 5, 0.08), 0px 1px 7px rgba(30, 12, 4, 0.04);
	--shadow-card-white: 0px 1px 6.3px -1px rgba(18, 35, 69, 0.1), 0px 0px 0px 1px rgba(18, 35, 69, 0.075);
	--shadow-img: 0 23.8px 30.3px 0 #0f1c3511, 0 0 0 0.8px #12234513, 0 0.8px 5px -0.8px #12234519, 0 3.2px 3.2px -4px #12234540, 0 0.8px 1.6px 0 #1223450f, 0 -2px 20.6px 0 #0000000c;
	--shadow-banner: 0px 1px 3px rgba(18, 35, 69, 0.1), 0px 1px 2px rgba(18, 35, 69, 0.06), inset 0px 0px 0px 1px rgba(18, 35, 69, 0.1);
	--shadow-social: 0px 6px 4px -2px rgba(18, 35, 69, 0.03), 0px 5.01227px 40.0982px -1px rgba(100, 109, 134, 0.06), 0px 1px 2px rgba(18, 35, 69, 0.05), 0px 0px 0px 1px rgba(217, 222, 231, 0.4);
	--shadow-menu-item: 0px 2px 7px -1px rgba(15, 28, 53, 0.04),inset 0px 3px 0px -1px rgba(255, 255, 255, 0.46),inset 0px 0px 0px 1px rgba(18, 35, 69, 0.1),0px 11.47px 23.78px -5.02px rgba(18, 35, 69, 0.07);
	--shadow-video: 0px 11.4701px 23.7768px -5.01619px rgba(18, 35, 69, 0.07), inset 0px -0.866597px 0.866597px 0.866597px rgba(17, 34, 69, 0.12);
	--shadow-avatar: 0 7.3px 12.2px -3.8px rgba(18, 35, 69, 0.2), 0 16.4px 35.9px -4.9px rgba(18, 35, 69, 0.09);
	--shadow-dropdown: 0px 18px 56px rgba(131, 131, 131, 0.08);


	/* Opacity */
	--opacity-8: 0.08;

	/* Border Radius */
	--radius-2_5xl: 20px;

	/* Font Sizes */
	--text-6xl: 3rem;
	--text-6xl-line-height: 3.75rem;
	--text-4_5xl: 2.5rem;
	--text-4_5xl-line-height: 125%;
	--text-2_5xl: 1.75rem;
	--text-2_5xl-line-height: 2.45rem;
	--text-base: 1rem;
	--text-base-line-height: 1.42rem;
	--text-lg: 1.125rem;
	--text-lg-line-height: 1.6875rem;
	--text-m: 0.9375rem;
	--text-m-line-height: 1.5rem;
	--text-sm: 0.875rem;
	--text-sm-line-height: 1.25rem;
	--text-s: 0.8125rem;
	--text-s-line-height: 1.0562rem;

	/* Line Heights */
	--spacing-4_5: 1.125rem;
	--spacing-5_5: 1.42rem;
	--spacing-5_8: 1.5rem;
	--spacing-6: 1.575rem;
	--spacing-6_5: 1.6875rem;
	--spacing-7_5: 1.875rem;
	--spacing-8_5: 2.125rem;
	--spacing-8_8: 2.1875rem;
	--spacing-9_5: 2.4rem;
	--spacing-9_8: 2.45rem;
	--spacing-13: 3.25rem;
	--spacing-15: 3.75rem;
	--spacing-15_5: 3.875rem;
	--spacing-16_5: 4.25rem;
	--spacing-17: 4.5rem;
	--spacing-17_5: 4.6875rem;
	--spacing-22: 5.625rem;
	--spacing-25: 105px;
	--spacing-30: 7.5625rem;
	--spacing-34: 8.5rem;

	/* Letter Spacings */
	--tracking-0_4: -0.4px;
	--tracking-0_22: -0.22px;
	--tracking-normal: -0.22px;
	--tracking-base: normal;
	--tracking-0_56: -0.56px;
	--tracking-1_44: -1.44px;

	/* Colors */
	--color-*: initial;
	--color-white: #ffffff;
	--color-black: #101010;
	--color-gray-100: #FBFBFD;
	--color-gray-150: #F9F9F9;
	--color-gray-200: #F8F9FC;
	--color-gray-300: #f1f2f5;
	--color-gray-400: #E8E9ED;
	--color-gray-500: #D9DEE7;
	--color-gray-600: #D3D6DC;
	--color-gray-700: #999cb2;
	--color-gray-800: #59657E;

	--color-orange-100: #faf6f3;
	--color-orange-500: #FE6E2B;
	--color-orange-950: #1e0c04;

	--color-red-500: #E61320;

	--color-blue-50: #E9F1F6;
	--color-blue-75: #F5F9FA;
	--color-blue-100: #f2f6ff;
	--color-blue-200: #DAE6FC;
	--color-blue-400: #09B4DC;
	--color-blue-500: #2F76FF;
	--color-blue-600: #4C78EA;
	--color-blue-700: #1c5ddf;
	--color-blue-800: #082A35;
	--color-blue-900: #122345;
	--color-blue-950: #130c3e;
	--color-blue-1000: #091329;

	--color-violet-300: #9489B6;
	--color-violet-400: #9F99B2;
	--color-violet-500: #6259EB;
	--color-violet-600: #9452FF;
	--color-violet-700: #27293D;
	--color-violet-800: #1E1D33;
	--color-violet-850: #181729;
	--color-violet-900: #060515;

	--color-green-25: #D1FAE5;
	--color-green-400: #429D17;
	--color-green-500: #047857;

	--color-yellow-400: #DDB51E;
	--color-yellow-500: #FBC045;
	--color-yellow-600: #FFBC03;
	--color-yellow-700: #C88E10;

	--color-purple-400: #9452FF;
	--color-purple-500: #6259EB;
	--color-purple-600: #9452FF;
	--color-purple-700: #27293D;
	--color-purple-800: #1E1D33;


	/* Animate */
	--animate-fade: fadeIn .3s ease forwards;
	--animate-fadeOut: fadeOut .3s ease-in-out forwards;
	--animate-fadeScaleIn: fadeScaleIn .8s ease-in-out forwards;
	--animate-rotateUp: rotateUp .5s ease forwards;
	--animate-slideUp: slideUp .9s ease forwards;

	@keyframes fadeIn {
		from { opacity: 0 }
		to { opacity: 1 }
	}
	@keyframes fadeOut {
		from { opacity: 1 }
		to { opacity: 0 }
	}
	@keyframes fadeScaleIn {
		from { opacity: 0, transform: scale(1.05) }
		to { opacity: 1, transform: scale(1) }
	}
	@keyframes rotateUp {
		from { marginBottom: -80px; transform: rotate(5deg) }
		to { marginBottom: 0px; transform: rotate(0deg) }
	}
	@keyframes slideUp {
		from { opacity: 0, transform: translateY(20px) }
		to { opacity: 1, transform: translateY(0) }
	}
}

@custom-variant dark (&:where(.dark, .dark *));